<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Bem Vindo!</h4>
                </div>
                <form class="user" [formGroup]="form" (ngSubmit)="save()">
                  <div class="form-group">
                    <input class="form-control form-control-user"
                           type="email"
                           placeholder="Digite o Endereço de Email"
                           formControlName="email">
                  </div>
                  <div class="form-group">
                    <input class="form-control form-control-user"
                           type="password"
                           placeholder="Senha"
                           formControlName="password">
                  </div>
                  <button class="btn btn-primary btn-block text-white btn-user" [disabled]="canSave()" type="submit">
                    Entrar
                  </button>
                </form>
                <div class="text-center"><a class="small" routerLink="../register">Criar uma conta!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
